<%= form_for @card, html: {multipart: true} do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> prohibited
    this photo from being saved:</h2>

    <ul>
    <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
 
  <div class="form-group">
     Describe this Photo
    <%= f.text_area :text, class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>